annotated-types==0.6.0
anyio==4.3.0
auth==0.5.3
automium==0.2.6
automium-web==0.1.1
bcrypt==4.1.2
blinker==1.7.0
blis==0.7.11
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
confection==0.1.4
crud==0.1
cryptography==41.0.7
cymem==2.0.8
distro==1.9.0
dnspython==2.5.0
ecdsa==0.18.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
eventlet==0.35.1
exceptiongroup==1.2.0
falcon==3.1.3
fastapi==0.110.0
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
functions==0.7.0
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
jose==1.0.0
langcodes==3.3.0
legacy==0.1.7
MarkupSafe==2.1.5
mongoengine==0.27.0
murmurhash==1.0.10
numpy==1.26.4
openai==1.13.3
packaging==23.2
passlib==1.7.4
pluggy==1.3.0
preshed==3.0.9
pyasn1==0.5.1
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
pymongo==4.6.1
PyMySQL==1.1.0
pytest==7.4.4
python-dotenv==1.0.0
python-jose==3.3.0
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
schemas==0.7.1
scikit-learn==1.4.0
scipy==1.12.0
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.27
srsly==2.4.8
starlette==0.36.3
thinc==8.2.3
threadpoolctl==3.2.0
tomli==2.0.1
tqdm==4.66.2
typer==0.9.0
typing_extensions==4.10.0
urllib3==2.2.1
uvicorn==0.25.0
uvloop==0.19.0
wasabi==1.1.2
watchfiles==0.21.0
weasel==0.3.4
websockets==12.0
Werkzeug==3.0.1
zipp==3.17.0
mailjet-rest==1.3.4
